
.vs/QueryStringConverter/v16/Server/sqlite3/storage.ide
.vs/QueryStringConverter/v16/Server/sqlite3/db.lock
.vs/QueryStringConverter/v15/Server/sqlite3/storage.ide-wal
.vs/QueryStringConverter/v15/Server/sqlite3/storage.ide-shm
.vs/QueryStringConverter/v15/Server/sqlite3/storage.ide
